/*************************** >>> RIGHT SIDE ***************************/

.right-side {
    background-color: whitesmoke;
    grid-area: right;
    display: grid;
    grid-template-rows: 180px 280px 220px 300px 1fr;
    grid-template-areas:
        "présentation"
        "formation"
        "expériences"
        "projets"
        "soft-skills";
    padding: 1rem 3rem;
    gap: 2rem;
}


/*************************** PRÉSENTATION SECTION ***************************/

.présentation {
    grid-area: présentation;
}

.présentation p {
    padding-right: 1rem;
}

/*************************** FORMATION SECTION ***************************/

.formation {
    grid-area: formation;
    margin: auto 0;
}

.formation-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
}

.formation-list h4 {
    margin: 0;
}

.formation-list span {
    color: rgba(70, 131, 180, 0.822);
}

.holberton,
.upec,
.champlain {
    display: grid;
    gap: 1rem;
    background-image: linear-gradient(to left, rgba(245, 245, 245, 0.342), rgba(70, 131, 180, 0.061));
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas:
        "logo text info";
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.246);
}

.logo {
    height: 30px;
    width: 30px;
    grid-area: logo;
    object-fit: cover;
    border-radius: 5px;
}

.text {
    grid-area: text;
    margin: auto 0;
    display: grid;
    gap: 0.2rem;
}

.info {
    margin: auto;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 10px;
}

.info:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

#overlay-holberton,
#overlay-upec,
#overlay-champlain {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-width: 700px;
    max-height: 1300px;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    display: grid;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.393);

    .q1,
    .q2 {
        box-shadow: 0px 24px 3px -24px rgb(109, 108, 109);
    }
}


/*************************** EXPÉRIENCES SECTION ***************************/

.expériences {
    grid-area: expériences;
}

.expériences-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px;
    gap: 1.5rem;
    padding: 1rem 0;
}

.expériences-img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.infos {
    display: grid;
    font-size: 15px;
    padding-left: 20px;
}

.infos span {
    opacity: 0.7;
}

.infos ul {
    margin: 0;
    padding-left: 10px;
    list-style: square;
}

.infos-list {
    padding-top: 5px;
    font-size: 10px;
    display: grid;
    margin: auto;
    color: rgba(70, 131, 180, 0.822);
}

#subway,
#dominos,
#metro,
#zanaka {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 0.5rem;
    align-content: center;
    box-shadow: rgba(77, 77, 77, 0.281) 0 5px 5px;
    border-radius: 5px;
}

/*************************** PROJETS SECTION ***************************/

.projets {
    grid-area: projets;
    margin-top: 1rem;
}

.projets-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    list-style: none;
    padding: 1rem;
    gap: 2rem 1rem;
}

.simple-shell,
.airbnb,
.files-manager,
.scraping {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: rgba(70, 131, 180, 0.4) 5px 5px, rgba(70, 130, 180, 0.3) 10px 10px, rgba(70, 130, 180, 0.2) 15px 15px, rgba(70, 130, 180, 0.1) 20px 20px, rgba(70, 130, 180, 0.05) 25px 25px;
    border: 0;
    background-color: whitesmoke;
    transition: 0.1s ease-in-out;
}

.simple-shell:hover,
.airbnb:hover,
.files-manager:hover,
.scraping:hover {
    background-color: rgba(179, 179, 179, 0.13);
    cursor: pointer;
}

.simple-shell:hover img,
.airbnb:hover img,
.files-manager:hover img,
.scraping:hover img {
    filter: none;
}

.simple-shell:active,
.airbnb:active,
.files-manager:active,
.scraping:active {
    background-color: rgba(179, 179, 179, 0.13);
    transform: translateY(10px) translateX(10px);
    box-shadow: rgba(70, 131, 180, 0.4) 5px 5px;
}

.simple-shell-content,
.airbnb-content,
.files-manager-content,
.scraping-content {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.simple-shell-img,
.airbnb-img,
.scraping-img,
.files-manager-img {
    object-fit: cover;
    border-radius: 10px;
    max-height: 40px;
    max-width: 40px;
    margin: auto 0;
    // filter: grayscale();
    transition: filter 0.2s ease-in-out;
}

.projets button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/*************************** SOFT-SKILLS SECTION ***************************/

.soft-skills {
    grid-area: soft-skills;
    display: grid;
}

.soft-skills h2 {
    margin-bottom: 0;
}

.soft-skills-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
    /* margin: 0; */
}

.soft-skills-list .box {
    border-radius: 20px;
    background-image: linear-gradient(to right, steelblue, rgba(70, 131, 180, 0.397));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/***** Genéral *****/
.center {
    padding: 0 0.5rem 0 3rem;
}

.color-grey {
    color: rgb(158, 157, 157);
}

.color-steelblue {
    color: rgba(70, 131, 180, 0.781);
}

.color-brown {
    color: rgba(247, 189, 134, 0.746);
}